* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	width: 100vw;
	min-height: 10vh;
	border: 2px solid black;
	justify-content: ;

}
.logo {
	width: 50%;
	min-height: 10vh;
	border: 2px solid black;
	float: right;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	font-size: 20px;

}